@font-face {
    font-family: besom;
    font-weight: normal;
    src: url(/assets/fonts/BesomRegular.ttf) format('truetype');
}

@font-face {
    font-family: klinicslab-medium;
    font-weight: normal;
    src: url(/assets/fonts/KlinicSlabMedium.otf) format('opentype');
}

@font-face {
    font-family: klinicslab-book;
    font-weight: lighter;
    src: url(/assets/fonts/KlinicSlabBook.otf) format('opentype');
}

@font-face {
    font-family: montserrat-bold;
    font-weight: bold;
    src: url(/assets/fonts/Montserrat-Bold.otf) format('opentype');
}

@font-face {
    font-family: montserrat-regular;
    font-weight: normal;
    src: url(/assets/fonts/Montserrat-Regular.otf) format('opentype');
}

h1,
h2 {
    font-family: montserrat-bold;
}

h3,
h4 {
    font-family: montserrat-regular;
}

h5 {
    font-family: besom;
}

h6 {
    font-family: klinicslab-medium;
}

p {
    font-family: klinicslab-book;
}

.master {
    background-color: white;
}

.navbar-default {
    margin-bottom: 0;
}

body {
    padding-top: 0;
    background: none;
}

.container>h3 {
    margin-bottom: 20px;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}


/*
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}*/

#membersTable #inventoryTable a {
    border-bottom: none;
    color: black;
}


/* EVENTS CSS */

.tabs-left>.nav-tabs {
    border-bottom: 0;
}

.tab-content>.tab-pane,
.pill-content>.pill-pane {
    display: none;
}

.tab-content>.active,
.pill-content>.active {
    display: block;
}

.tabs-left>.nav-tabs>li {
    float: none;
}

.tabs-left>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}


/* event details leftside-nav spacing off of right side */

.spacercol {
    width: 40px !important;
}


/* ui-select height */

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    margin-bottom: 0px;
    height: 1em;
}


/* ui-select padding */

.ui-select-multiple.ui-select-bootstrap {
    padding: 6px 12px 6px 12px;
}


/* events cards field title text formatting */

.list-group-item h6 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}