/* whoweare styling */


/* hero image and text */

#heroquote {
    position: absolute;
    top: 20vw;
    left: 50%;
    margin-left: -20%;
    width: 40%;
}

#herodesc {
    margin: auto;
    margin-top: 50px;
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
}

#herodesc h3 {
    font-size: 16px;
}

#desctextbg {
    display: none;
}

#herodesc .desctext {
    margin: auto;
}

#how-logomark {
    position: absolute;
    top: 56vw;
    left: 50%;
    margin-left: -90px;
    width: 180px;
}


/* body */

.whoweare-body {
    width: 100%;
    background-color: #e9e9e9;
}

.whoweare-body hr {
    display: block;
    background-color: black;
    width: 60px;
    height: 4px;
    border-radius: 4px;
    margin: auto;
}

#whoweare-text {
    width: 80%;
    max-width: 900px;
    margin: auto;
    padding-top: 5vw;
}

#whoweare-text p,
#whoweare-text h6 {
    font-size: 20px;
    line-height: 1.15em;
    display: inline;
}

#whoweare-video {
    height: 28vw;
    min-height: 400px;
    margin-top: 60px;
}

#youtubevid {
    position: absolute;
    left: 50%;
    margin-left: -320px;
    width: 640px;
    height: 360px;
}


/* secondary page navigation */

.who .col1,
.who .col2,
.who .col3 {
    background-color: #C1EBFF;
}

.jumpbar {
    text-align: center;
    height: 780px;
}

.jumpbar .column {
    height: 260px;
}

.jumpbar .col2 {
    margin-top: 260px;
}

.jumpbar .col3 {
    margin-top: 520px;
}

.who h2 {
    font-size: 18px;
    display: inline;
}

.jumpbar h4 {
    padding-top: 40px;
    font-size: 28px;
    width: 70%;
    margin: auto;
}

.jumpbar p {
    font-size: 20px;
    padding-top: 10px;
    width: 50%;
    margin: auto;
    line-height: 1.25em;
}

.jumpbar #learnmore {
    width: 150px;
    height: 40px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.jumpbar #learnmore:hover {
    background-color: black;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/* blogbanner */

.blogbanner {
    height: 35vw;
    min-height: 250px;
    overflow: hidden;
}

.blogdescoverlay {
    position: relative;
    top: -27vw;
    height: 0;
}

#blogdesc {
    width: 60%;
    margin: auto;
    text-align: center;
}

.blogbanner h2 {
    font-size: 20px;
    display: inline;
}

.blogbanner h4 {
    font-size: 22px;
    color: white;
}

#bannerbg {
    height: auto;
    width: 100%;
}

.blogbanner #gotoblog {
    width: 200px;
    height: 50px;
    border: solid 2px white;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.blogbanner #gotoblog:hover {
    background-color: white;
    color: black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 720px) {
    #heroquote {
        display: none;
    }
    #herodesc {
        margin-top: 30px;
        padding-top: 20px;
    }
    #whoweare-text {
        padding-top: 30px;
    }
    #whoweare-video {
        height: 22vw;
        min-height: 250px;
    }
    #youtubevid {
        width: 360px;
        height: 200px;
        margin-left: -180px;
    }
    .jumpbar h4 {
        padding-top: 40px;
    }
    .blogdescoverlay {
        width: 80%;
        position: relative;
        top: 20%;
        left: 50%;
        margin-left: -40%;
    }
    #blogdesc {
        width: 100%;
        position: absolute;
    }
    #bannerbg {
        float: right;
        width: 720px;
    }
}

@media only screen and (max-width: 560px) {
    #how-logomark {
        top: 60vw;
        margin-left: -70px;
        width: 140px;
    }
    .jumpbar p {
        width: 90%;
    }
    .jumpbar button h2 {
        font-size: 14px;
    }
}

@media only screen and (min-width: 960px) {
    /* For desktop screens: */
    #heroquote {
        top: 15vw;
        max-width: 450px;
    }
    #herodesc {
        margin-top: -23%;
        width: 65%;
    }
    #herodesc .desctext {
        margin-top: -95px;
        width: 90%;
    }
    #desctextbg {
        display: block;
    }
    #how-logomark {
        top: 57vw;
    }
    #whoweare-text {
        padding-top: 18vw;
    }
    .whoweare-body hr {
        display: none;
    }
    .jumpbar {
        height: 300px;
    }
    .jumpbar p {
        width: 80%;
    }
    .jumpbar .column {
        width: 33.33333333%;
        height: 300px;
    }
    .jumpbar .col2 {
        margin-left: 33.333333%;
        margin-top: 0;
    }
    .jumpbar .col3 {
        margin-left: 66.666666%;
        margin-top: 0;
    }
    #blogdesc {
        width: 50%;
        max-width: 475px;
        margin-left: 12vw;
    }
    .blogbanner h4 {
        font-size: 26px;
    }
    .blogdescoverlay {
        top: -25vw;
    }
}

@media only screen and (min-width: 1100px) {
    /* For desktop screens: */
    #heroquote {
        top: 15vw;
        width: 450px;
        max-width: none;
        margin-left: -225px;
    }
    #herodesc {
        margin-top: -22%;
        max-width: 680px;
    }
    #how-logomark {
        top: 57vw;
        margin-left: -110px;
        width: 220px;
    }
}

@media only screen and (min-width: 1440px) {
    /* For desktop screens: */
    #heroquote {
        top: 10vw;
        margin-left: -250px;
        width: 500px;
        max-width: none;
    }
    #herodesc {
        margin-top: -22vw;
    }
    #how-logomark {
        top: 54vw;
        margin-left: -120px;
        width: 240px;
    }
}