<!DOCTYPE html>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add New Event</h4>
</div>
<!-- end modal-header -->
<div class="modal-body">
    <form name="eventForm" ng-submit="postEvent()" class="form-horizontal" novalidate>
        <fieldset>
            <!-- Text - Event Name -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Event Name*</label>
                <div class="col-md-7">
                    <input id="name" name="name" type="text" class="form-control input-md" ng-model="newEvent.name" ng-required="true">
                    <p ng-show="eventForm.name.$invalid && !eventForm.name.$pristine" class="help-block">Enter a valid event name.</p>
                </div>
            </div>
            <!-- Text - Manager Name -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lname">Assigned Event Manager*</label>
                <div class="col-md-7">
                    <input id="manager" name="manager" type="text" class="form-control input-md" ng-model="newEvent.eventManager" ng-required="true">
                    <p ng-show="eventForm.manager.$invalid && !eventForm.manager.$pristine" class="help-block">Enter a valid manager's name.</p>
                </div>
            </div>
            <!-- Datepicker - Start date/time -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="sdate">Start Date*</label>
                <div class="col-md-7">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="st" is-open="startpopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="startopen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <!-- Datepicker - End date/time -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="edate">End Date*</label>
                <div class="col-md-7">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="et" is-open="endpopup.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="endopen()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="location">Location*</label>
                <div class="col-md-7">
                    <input id="location" name="location" type="text" class="form-control input-md" ng-model="newEvent.location" ng-required="true" placeholder="211 S Akard St, Dallas, Texas">
                    <p ng-show="eventForm.location.$invalid && !eventForm.location.$pristine" class="help-block">Enter a valid location.</p>
                </div>
            </div>
            <!-- Text - Email -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Contact Email*</label>
                <div class="col-md-7">
                    <input id="email" name="email" type="email" placeholder="johndoe@heroesonthewater.org" class="form-control input-md" ng-model="newEvent.email" ng-required="true">
                    <p ng-show="eventForm.email.$invalid && !eventForm.email.$pristine" class="help-block">Enter a valid email address.</p>
                </div>
            </div>
            <!-- Text - Phone # -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phonenum">Contact Number*</label>
                <div class="col-md-7">
                    <input id="phonenum" name="phonenum" type="number" placeholder="1234576890" class="form-control input-md" ng-model="newEvent.mobileNumber" ng-minlength="10" ng-maxlength="10" ng-pattern="/^\d{10}$/" ng-required="true">
                    <span class="help-block">10 digits only; no formatting, prefixes or extensions.</span>
                    <p ng-show="eventForm.phonenum.$invalid && !eventForm.phonenum.$pristine" class="help-block">Enter a valid phone number.</p>
                </div>
            </div>
            <!-- Select - Status -->
            <!--
			<div class="form-group">
				<label class="col-md-4 control-label" for="status">status*</label>
				<div class="col-md-7">
					<select id="status" name="status" class="form-control" ng-options="status as status.displayName for status in states" ng-model="newEventDirectory.status">
						<option value=""></option>
					</select>
				</div>
			</div>
-->
            <!-- Dropdown - Chapter -->
            <!-- <div class="form-group">
				<label class="col-md-4 control-label" for="chapter">Hosting Chapter</label>
				<div class="col-md-7">
					 <p>chapter dropdown will go here soon</p>
					<select id="chapter" name="chapter" class="form-control" ng-options="chapter as chapter.displayName for chapter in chapters" ng-model="newEvent.chapter"></select>
					ng-disabled="$scope.newEventDirectory.region == null"
				</div>
			</div>  -->
            <!-- Textarea - Description -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-7">
                    <textarea class="form-control" id="description" name="description" ng-model="newEvent.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4"></div>
                <p class="col-md-7">* indicates required field.</p>
            </div>
            <!-- Button - Submit -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-7">
                    <button id="submit" name="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- end modal body -->