<!DOCTYPE html>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add New User</h4>
</div>
<!-- end modal-header -->
<div class="modal-body">
    <form name="userForm" class="form-horizontal" ng-submit="postUser()" novalidate>
        <fieldset>
            <!-- Text - First Name -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fname">First Name*</label>
                <div class="col-md-7">
                    <input id="fname" name="fname" type="text" placeholder="John" class="form-control input-md" ng-model="newUserDirectory.name.first" ng-required="true">
                    <p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine" class="help-block">Enter a valid first name.</p>
                </div>
            </div>
            <!-- Text - Last Name -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lname">Last Name*</label>
                <div class="col-md-7">
                    <input id="lname" name="lname" type="text" placeholder="Doe" class="form-control input-md" ng-model="newUserDirectory.name.last" ng-required="true">
                    <p ng-show="userForm.lname.$invalid && !userForm.lname.$pristine" class="help-block">Enter a valid last name.</p>
                </div>
            </div>
            <!-- Text - Address 1 -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Address1">Address 1*</label>
                <div class="col-md-7">
                    <input id="Address1" name="line1" type="text" placeholder="Street" class="form-control input-md" ng-model="newUserDirectory.address.line1" ng-required="true">
                    <p ng-show="userForm.line1.$invalid && !userForm.line1.$pristine" class="help-block">Enter a valid address line.</p>

                </div>
            </div>
            <!-- Text - street 2 -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Address2">Address 2*</label>
                <div class="col-md-7">
                    <input id="Address2" name="Address2" type="text" placeholder="APT/SUITE" class="form-control input-md" ng-model="newUserDirectory.address.line2" ng-required="false">
                    <p ng-show="userForm.Address2.$invalid && !userForm.Address2.$pristine" class="help-block">Enter a valid address line.</p>
                </div>
            </div>
            <!-- Text - City -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="City">City*</label>
                <div class="col-md-7">
                    <input id="City" name="City" type="text" placeholder="City" class="form-control input-md" ng-model="newUserDirectory.address.city" ng-required="false">
                    <p ng-show="userForm.City.$invalid && !userForm.City.$pristine" class="help-block">Enter a valid city name.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-4 control-label">State*</label>
                <div class="col-md-7">
                    <select ng-options="state as state.name for state in states" class="form-control input-md" ng-model="newUserDirectory.address.state"></select>
                </div>
            </div>
            <!-- Number - Zip -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Zip">Zip*</label>
                <div class="col-md-7">
                    <input id="Zip" name="Zip" type="number" placeholder="Zip" class="form-control input-md" ng-model="newUserDirectory.address.zip" ng-required="false">
                    <p ng-show="userForm.Zip.$invalid && !userForm.Zip.$pristine" class="help-block">Enter a valid zip code.</p>
                </div>
            </div>
            <!-- Datepicker - DOB -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="date">Date of Birth*</label>
                <div class="col-md-7">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newUserDirectory.DOB" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <!-- Text - Gender -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Gender">Gender*</label>
                <div class="col-md-7">
                    <select ng-model="newUserDirectory.gender" class="form-control" required>
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>
            </div>
            <!-- Text - Email -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email*</label>
                <div class="col-md-7">
                    <input id="email" name="email" type="email" placeholder="johndoe@heroesonthewater.org" class="form-control input-md" ng-model="newUserDirectory.email" ng-required="true">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email address.</p>
                </div>
            </div>
            <!-- Text - Phone # -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phonenum">Phone #*</label>
                <div class="col-md-7">
                    <input id="phonenum" name="phonenum" type="number" placeholder="1234576890" class="form-control input-md" ng-model="newUserDirectory.phone" ng-minlength="10" ng-maxlength="10" ng-pattern="/^\d{10}$/" ng-required="true">
                    <span class="help-block">10 digits only; no formatting, prefixes or extensions.</span>
                    <p ng-show="userForm.phonenum.$invalid && !userForm.phonenum.$pristine" class="help-block">Enter a valid phone number.</p>
                </div>
            </div>
            <!-- Select - Region -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="region">Region*</label>
                <div class="col-md-7">
                    <select id="region" name="region" class="form-control" ng-options="region as region.text for region in regions" ng-model="newUserDirectory.region" ng-change="regionUpdate()">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="chapter">Chapter*</label>
                <div class="col-md-7">
                    <select id="chapter" name="chapter" class="form-control" ng-model="newUserDirectory.chapter" ng-options="chapter as chapter for chapter in chapters">
                        <!-- <option value="KANSAS CHAPTER">KANSAS CHAPTER</option> -->
                        <ng-options </select>
                </div>
            </div>
            <!-- Text - Service background -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="branch">Service background*</label>
                <div class="col-md-7">
                    <input id="branch" name="branch" type="text" placeholder="" class="form-control input-md" ng-model="newUserDirectory.branch">
                    <span class="help-block">Please provide military service branch</span>
                    <p ng-show="userForm.branch.$invalid && !userForm.branch.$pristine" class="help-block">Enter a valid service background.</p>
                </div>
            </div>
            <!-- Text - Years Served -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Years_Served">Years Served*</label>
                <div class="col-md-7">
                    <input id="Years_Served" name="Years_Served" type="text" placeholder="" class="form-control input-md" ng-model="newUserDirectory.years">
                    <span class="help-block">Please provide years served</span>
                    <p ng-show="userForm.Years_Served.$invalid && !userForm.Years_Served.$pristine" class="help-block">Enter a valid number.</p>
                </div>
            </div>
            <!-- Text - Password -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password*</label>
                <div class="col-md-7">
                    <input id="password" name="password" type="text" class="form-control input-md" ng-model="newUserDirectory.password" ng-required="true">
                    <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter a valid password.</p>
                </div>
            </div>
            <!-- Button - Submit -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-7">
                    <button id="submit" name="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- end modal body -->