<!DOCTYPE html>
<!--Modal that displays the specific events informatiom.
	Allows a volunteer on the public facing website to register for the event  -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{event.name}}</h4>
</div>
<!-- end modal-header -->
<div class="modal-body">
    <div class="list-group">
        <!-- <div class="list-group-item">
						<h6 class="list-group-item-text">Event Status </h6>
						<h4 class="list-group-item-heading">{{event.Status}}</h4>
					</div> -->
        <div class="list-group-item">
            <h6 class="list-group-item-text">Start Time</h6>
            <h4 class="list-group-item-heading">{{event.startTime | date:'MM-dd-yyyy HH:mm a'}}</h4>
        </div>
        <div class="list-group-item">
            <h6 class="list-group-item-text">End Time</h6>
            <h4 class="list-group-item-heading">{{event.endTime | date:'MM-dd-yyyy HH:mm a'}}</h4>
        </div>
        <div class="list-group-item">
            <h6 class="list-group-item-text">Location</h6>
            <h4 class="list-group-item-heading">{{event.location}}</h4>
        </div>
        <!-- <div class="list-group-item">
						<h6 class="list-group-item-text">Chapter</h6>
						<h4 class="list-group-item-heading">{{event.chapter}}</h4>
					</div> -->
        <div class="list-group-item">
            <h6 class="list-group-item-text">Event Manager</h6>
            <h4 class="list-group-item-heading">{{event.eventManager}}</h4>
        </div>
        <div class="list-group-item">
            <h6 class="list-group-item-text">Contact Number</h6>
            <h4 class="list-group-item-heading">{{event.mobileNumber}}</h4>
        </div>
        <div class="list-group-item">
            <h6 class="list-group-item-text">Contact Email</h6>
            <h4 class="list-group-item-heading">{{event.email}}</h4>
        </div>
        <!-- <div class="list-group-item">
						<h6 class="list-group-item-text">Capacity</h6>
						<h4 class="list-group-item-heading">{{event.capacity}}</h4>
					</div> -->
        <div class="list-group-item">
            <h6 class="list-group-item-text">Description</h6>
            <h4 class="list-group-item-heading">{{event.description}}</h4>
        </div>
        <div style="padding-top: 10px; padding-bottom: 10px;">
            <a class="btn btn-primary pull-right" ng-click="postRsvp()"><i class="glyphicon glyphicon-plus" ></i>  Register for Event</a>
        </div>
    </div>
</div>


</div>
<!-- end modal body -->