<!DOCTYPE html>

<div class="container">
    <h3>Chapter Administration</h3>
    <p>
        On the page, Chapter Managers can create reports for:
        <p>
            - Volunteers (This report will show how many hours have been reported and verified for each volunteer in your chapter)
        </p>
        <p>
            - Volunteer comparison (This report will show how many volunteer hours your chapter has logged, and how many volunteers have logged hours compared to other chapters)
        </p>
        <p>
            - Events (This report will show a complete view of all events put on by the chapter within a selected time frame)
        </p>
        <p>
            Other Management functionality can be added based on organizational needs.
        </p>
        <p>
            These reports should have a link to export to excel for more functionality.
        </p>
    </p>
</div>