<!DOCTYPE html>

<div class="container">
    <h3>Dashboard</h3>
    <div class="row">
        <!-- tabs left -->
        <div class="col-md-1">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <!--thad: active was removed until proper actions are taken ui-sref-active="active"-->
                    <li class="active"><a ng-href="#/dash/upcoming-events" data-toggle="tab">Upcoming Events</a></li>
                    <li><a ng-href="#/dash/broadcasts" data-toggle="tab">Broadcasts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1 spacercol"></div>
        <!-- content -->

        <div class="col-md-10">


            <p>Volunteer Dashboard - "This is a landing site where volunteers can see the hours they have volunteereds, the events they have attended, the next upcoming event, notifications, and a link to go to their training"
            </p>

            <p>
                Event Manager Dashboard - "This is a landing site where Event Managers can see an overview of their upcoming event (number of volunteers registered, number of volunteers) and a easy link to send a broadcast for that event. On this dashboard Event Managers can also see other upcoming events, notifications, and link to their other management pages."
            </p>

            <p>
                Chapter Manager Dashboard - "This is a landing site where Chapter Managers can an overview of their Chapter's next event (number of volunteers registered, number of volunteers) and a easy link to send a broadcast for that event. On this dashboard Chapter Managers can also see other upcoming events, notifications, and link to their other management pages."
            </p>

            <p>
                Region Manager Dashboard - "This is a landing site where Region Managers can see notifications for upcoming events for the chapters within the region. On this dashboard Region Managers can also see notifications and link to their other management pages."
            </p>

            <p>
                Admin Dashboard - "This is a landing site where Admins can see an overview of donations in the past month/past year, and the number of upcoming events per region. On this dashboard Region Managers can also see notifications and link to their other management pages."
            </p>



            <div ui-view="">
            </div>
        </div>
    </div>
</div>