<!DOCTYPE html>

<div class="container">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-1">
            <button class="btn btn-default" ng-click="goBackToEvents()">Go Back</button>
        </div>
        <div class="col-md-10">
            <h3 style="margin-left: 15px; margin-top: 3px">{{selectedEvent.name}}</h3>
        </div>
    </div>
    <div class="row">
        <!-- tabs left -->
        <div class="col-md-1">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <!--thad: active was removed until proper actions are taken ui-sref-active="active"-->
                    <li class="active"><a ng-href="#/description" data-toggle="tab">Description</a></li>
                    <li><a ng-href="#/volunteers" data-toggle="tab">Volunteers</a></li>
                    <li><a ng-href="#/participants" data-toggle="tab">Participants</a></li>
                    <li><a ng-href="#/inventory" data-toggle="tab">Inventory</a></li>
                    <li><a ng-href="#/notifications" data-toggle="tab">Notifications</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1 spacercol"></div>
        <!-- content -->
        <div class="col-md-10">
            <div ui-view=""></div>
        </div>
    </div>
</div>