<!DOCTYPE html>
<div class="col-md-12">
    <div style="clear: left; width: 100%; overflow:auto; margin-bottom: 5px">
        <div class="toolbar-left" style="float: left">
            <button class="btn btn-primary" ng-click="add()">Add New</button>
            <button class="btn btn-primary" ng-click="remove()">Deregister</button>
            <button class="btn btn-primary" ng-click="update()">Refresh</button>
        </div>
    </div>

    <div style="margin: auto; display: block; padding-top: 10px" max-width="100%" ng-init="update()">
        <table id="eventParticipantsTable" class="display table table-bordered responsive" cellspacing="0" width="100%"></table>
    </div>
</div>