<!DOCTYPE html>

<div class="container" ng-init="update()">
    <h3>Inventory</h3>
    <div style="clear: left; width: 100%; overflow: auto; margin-bottom: 5px">
        <div class="toolbar-left" style="float: left">
            <button class="btn btn-primary" ng-click="add()">Add New</button>
            <button class="btn btn-primary" ng-click="remove()">Delete</button>
            <button class="btn btn-primary" ng-click="update()">Refresh</button>
        </div>
    </div>
    <div style="margin: auto; display: block; padding-top: 10px" max-width="100%">
        <table id="inventoryTable" class="display table table-bordered responsive" cellspacing="0" width="100%"></table>
    </div>
    <div id="newItemForm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <script type="text/ng-template" id="newItemInventoryForm.html"></script>
                <!-- inject from newItemInventoryForm.html -->
            </div>
            <!-- end modal-content -->
        </div>
        <!-- end modal-dialog -->
    </div>
    <!-- end newItemForm -->
</div>
<!-- end container -->