<!DOCTYPE html>

<div class="container">
    <h3>Region Administration</h3>
    <p>
        On the page, Region Managers can create reports for:
        <p>
            -Volunteers (This report will show how many hours have been reported and verified for each volunteer in your Region)
        </p>
        <p>
            -Volunteer comparison (This report will show how many volunteer hours your region has logged, and how many volunteers have logged hours compared to other regions)
        </p>
        -Events (This report will show a complete view of all events put on by the region within a selected time frame)
        <p>
            -Inventory Use (This report will show the number of events each peice of inventory has been used within a selected time frame)
        </p>
        Other Management functionality can be added based on organizational needs. These reports should have a link to export to excel for more functionality.
    </p>
</div>