<!DOCTYPE html>

<div class="container">
    <h3>Administration</h3>
    <p>
        On the page, Admins can create reports for:
        <p>
            - Membership Report (This report will show the status of training and volunteer hours, as well as gains and losses of people at all levels and roles)
        </p>
        <p>
            - Region Comparison Report (This report will show how the Regions compare to each other in number of events, number of volunteers, and amount of donations)
        </p>
        <p>
            - Events Report (This report will show a list of events within a selected time frame)
        </p>
        <p>
            - Donation Report (This report will show a list of donations within a selected time frame)
        </p>
        <p>
            - Inventory Report (This report will show a list of HOW's inventory, the item condition, and the amount it has been used)
        </p>
        Other Management functionality can be added based on organizational needs. These reports should have a link to export to excel for more functionality.

    </p>
</div>