<!DOCTYPE html>
<!--The get Inovlved page that has more information in expandable views  -->
<div class="hero">
    <img id="heroimg" src="/assets/images/getinvolved/getinvolved-splash.png" alt="Getinvolved Hero">
    <img id="heroquote" src="/assets/images/getinvolved/quote2.png" alt="Getinvolved Quote">
    <div id="herodesc2">
        <img id="desctextbg2" src="/assets/images/whoweare/roundedrect.png" alt="Getinvolved Textbg">
        <h1 class="desctext">Paddle. Fish. Heal.</h1>
    </div>
    <div id="herologo">
        <img id="how-logomark2" src="/assets/images/logos/logo-md.png" alt="Getinvolved Logostamp">
    </div>
</div>
<!-- end hero -->
<div class="getinvolved-body">
    <hr />
    <div id="getinvolved-text">
        <h4>When our injured soldiers return home, it's not the end of the battle. For some, it's only the beginning. Many suffer from PTSD, depression, and other life changing disabilities. What can we do about this? Let's help them heal.</h4>
    </div>
</div>
<!-- end whoweare-body -->
<section class="strips">
    <article class="strips__strip">
        <div class="strip__content" ng-click="$scope.open()">
            <!--			<i class="fa fa-close mobile_strip__close" ng-click="close()"></i>-->
            <h4 class="strip__title" data-name="participate">PARTICIPATE</h4>
            <div class="strip__inner-text">
                <h2>PARTICIPATE</h2>
                <p>Participants receive basic kayak fishing and paddling instruction, angling clinics and paddling classes for participants with skill sets ranging from beginners to the most experienced paddlers.
                    <br>
                    <br> Our program is unique in that it is a long-term activity, not a one-time event. We believe that the effectiveness of the program is a direct result of engaging the wounded military personnel for the long-term.</p>
            </div>

        </div>
    </article>
    <article class="strips__strip">
        <div class="strip__content" ng-click="open()">
            <!--			<i class="fa fa-close mobile_strip__close" ng-click="close()"></i>-->
            <h4 class="strip__title" data-name="volunteer">VOLUNTEER</h4>
            <div class="strip__inner-text">
                <h2>VOLUNTEER</h2>
                <p>The Heroes on the Water program is carried out across the country by dedicated volunteers seeking to make a difference in the lives of our warriors and their families.
                    <br>
                    <br> There are many ways you can help Heroes on the Water whether it is assisting with taking injured service men and women on kayak fishing excursions, helping with the administrative tasks of planning and carrying out an outing, assisting with registration or coordinating the food at an event, or to start up a Heroes on the Water Chapter in your area.</p>
            </div>
        </div>
    </article>
    <article class="strips__strip">
        <div class="strip__content" ng-click="open()">
            <!--			<i class="fa fa-close mobile_strip__close" ng-click="close()"></i>-->
            <h4 class="strip__title" data-name="sponsor">SPONSOR</h4>
            <div class="strip__inner-text">
                <h2>SPONSOR</h2>
                <p>Our corporate partners provide Heroes On the Water with an opportunity to reach out to a variety of audiences with important information and to raise funds to support, education, training and events. In addition, the initiatives provide corporate supporters an opportunity to make a positive impact on the recovery of our injured soldiers and involve employees and consumers in the HOW movement.
                    <br>
                    <br> Want to be a part of something big? We know you do! And…it is tax deductible through Heroes on the Water’s current 501(c)(3). We offer a tiered sponsorship program and welcome entities of all sizes and structures to join our cause through a sponsor relationship.
                </p>
            </div>
        </div>
    </article>
    <article class="strips__strip">
        <div class="strip__content" ng-click="open()">
            <!--			<i class="fa fa-close mobile_strip__close" ng-click="close()"></i>-->
            <h4 class="strip__title" data-name="startachapter">START A CHAPTER</h4>
            <div class="strip__inner-text">
                <h2>START A CHAPTER</h2>
                <p>Heroes on the Water is experiencing tremendous growth with individuals and groups in local areas across the country organizing to start a local chapter.
                    <br>
                    <br> Thank you for your interest in giving back to those who have given so much for us!</p>
            </div>
        </div>
    </article>
    <article class="strips__strip">
        <div class="strip__content" ng-click="open()">
            <!--			<i class="fa fa-close mobile_strip__close" ng-click="close()"></i>-->
            <h4 class="strip__title" data-name="inkindcontribution">IN-KIND CONTRIBUTION</h4>
            <div class="strip__inner-text">
                <h2>IN-KIND CONTRIBUTION</h2>
                <p>In-kind donations of goods and services from individuals and organizations have made it possible for HOW to provide our program to wounded warriors and their families.</p>
                <br>
                <br>
                <p>In-kind goods that help provide the program include:</p>
                <ul style="list-style-position: inside">
                    <li>Kayak trailers, kayaks, paddles, PFDs, and kayak gear</li>
                    <li>Fishing equipment and supplies including rods/reels and lures</li>
                    <li>Food, snacks, and beverages for outings</li>
                </ul>
                <br>
                <br>
                <p>In-kind services that help support the program operation can include:</p>
                <ul style="list-style-position: inside">
                    <li>Printing services for banners, brochures, fliers</li>
                    <li>Storage facilities for kayak equipment</li>
                </ul>
            </div>
        </div>
    </article>
    <i class="fa fa-close strip__close" ng-click="close()"></i>
</section>

<!-- end jumpbar -->
<div class="donatebanner">
    <img id="donatebg" src="/assets/images/getinvolved/donate-bg.png" alt="Whoweare Donatebg">
    <div class="donatedescoverlay">
        <div id="donatedesc">
            <h4>Check out stories and updates from our team, partners and supporters</h4>
            <button ng-click="showDonate()" id="showDonateModal" style="margin-top:15px">
                <h2>DONATE</h2>
            </button>
        </div>
    </div>
</div>
<!-- end donatebanner -->
<master-footer></master-footer>
<script>
var Expand = (function() {
    var tile = $('.strips__strip');
    var tileLink = $('.strips__strip > .strip__content');
    var tileText = tileLink.find('.strip__inner-text');
    var stripClose = $('.strip__close');
    //		var mobileStripClose = $('.strips .mobile_strip__close');

    var expanded = false;

    var open = function() {

        var tile = $(this).parent();

        if (!expanded) {
            tile.addClass('strips__strip--expanded');
            // add delay to inner text
            tileText.css('transition', 'all .6s .3s cubic-bezier(0.23, 1, 0.32, 1)');
            stripClose.addClass('strip__close--show');
            //				mobileStripClose.addClass('mobile_strip__close--show');
            stripClose.css('transition', 'all .6s .3s cubic-bezier(0.23, 1, 0.32, 1)');
            expanded = true;
        }
    };

    var close = function() {
        if (expanded) {
            tile.removeClass('strips__strip--expanded');
            // remove delay from inner text
            tileText.css('transition', 'all 0.15s 0s cubic-bezier(0.23, 1, 0.32, 1)');
            stripClose.removeClass('strip__close--show');
            //				mobileStripClose.removeClass('mobile_strip__close--show');
            stripClose.css('transition', 'all 0.2s 0s cubic-bezier(0.23, 1, 0.32, 1)')
            expanded = false;
        }
    }

    var bindActions = function() {
        tileLink.on('click', open);
        stripClose.on('click', close);
    };

    var init = function() {
        bindActions();
    };

    return {
        init: init
    };

}());

Expand.init();
</script>