<!DOCTYPE html>
<footer class="foot">
    <div class="social">
        <hr />
        <button><a href="https://twitter.com/Heroesonthewate"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></button>
        <button><a href="http://www.facebook.com/HeroesontheWater"><i class="fa fa-facebook-f fa-2x" aria-hidden="true"></i></a></button>
        <button><a href="https://www.linkedin.com/company/heroes-on-the-water"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></button>
        <button><a href="https://www.youtube.com/user/PaddleFishHeal/"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></button>
        <hr />
    </div>
    <div class="footerlinks">
        <div class="column aboutus">
            <h4>ABOUT US</h4>
            <!--thad: ui router opts was removed until proper actions are taken ui-sref-opts="{reload: true}"-->
            <a ng-href="#/whoweare">
                <p>Why HOW?</p>
            </a>
            <a href="http://heroesonthewater.org/who-we-are/board/">
                <p>Board &amp; Staff</p>
            </a>
            <a href="http://heroesonthewater.org/who-we-are/partnerships/">
                <p>Partnerships</p>
            </a>
            <a href="http://heroesonthewater.org/who-we-are/financials/">
                <p>Financials</p>
            </a>
            <a href="http://heroesonthewater.org/contact/">
                <p>Contact</p>
            </a>
        </div>
        <div class="column howtohelp">
            <h4>HOW TO HELP</h4>
            <!--thad: ui router opts was removed until proper actions are taken ui-sref-opts="{reload: true}"-->
            <a ng-href="#/events">
                <p>Volunteer</p>
            </a>
            <a href="http://heroesonthewater.org/how-to-help/sponsor/">
                <p>Sponsor</p>
            </a>
            <a href="http://heroesonthewater.org/how-to-help/start-a-chapter/">
                <p>Start a Chapter</p>
            </a>
            <a href="http://heroesonthewater.org/how-to-help/in-kind-contribution/">
                <p>In-Kind Contribution</p>
            </a>
        </div>
        <div class="column news">
            <h4>NEWS</h4>
            <a href="http://heroesonthewater.org/blog/">
                <p>Read Our Blog</p>
            </a>
            <a href="http://heroesonthewater.org/media/photo-gallery/">
                <p>Photo Gallery</p>
            </a>
            <a href="http://heroesonthewater.org/media/press/">
                <p>Press</p>
            </a>
        </div>
        <div class="column meta">
            <h4>META</h4>
            <a href="http://heroesonthewater.org/terms-of-use/">
                <p>Terms of Use</p>
            </a>
            <a href="http://heroesonthewater.org/privacy-policy/">
                <p>Privacy Policy</p>
            </a>
        </div>
        <div class="column buttons">
            <a href="http://visitor.r20.constantcontact.com/d.jsp?&#10;&#10;llr=t5yuarcab&amp;p=oi&amp;m=1102230217683&amp;sit=oimdo5qdb&amp;f=612&#10;&#10;b8958-893d-420d-99b7-0d5e512a9507" target="_blank">
                <button id="subscribe"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                    <h2>SUBSCRIBE</h2>
                </button>
            </a>
            <button ng-click="showDonate()" id="donate" style="margin-top:15px">
                <h2>DONATE</h2>
            </button>
        </div>
        <div class="column awards">
            <img id="topnonprofit-badge" src="/assets/images/footer/2015TopNonprofitBadge.png" alt="topnonprofit-badge" width="144px">
            <img id="cfc-badge" src="/assets/images/footer/HOW-CFC.jpg" alt="cfc-badge" width="70px">
            <img id="guidestar-badge" src="/assets/images/footer/Guidestar-Gold-Seal.png" alt="guidestar-badge" width="61px">
        </div>
    </div>
    <div class="love">
        <a href="http://r4alliance.org/">
            <img id="r4-badge" src="/assets/images/footer/r4-alliance-logo-100.png" alt="r4-badge" width="60px">
        </a>
        <p>Made with <i class="fa fa-heart" style="color: #DD2E44" aria-hidden="true"></i> in Dallas, Texas. &copy;2016 All Rights Reserved.</p>
    </div>
</footer>