<!DOCTYPE html>
<div class="container">
    <h3>Events</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label" for="fname">Search:</label>
            <div>
                <input id="fname" name="newQuery.search" type="text" placeholder="Enter query here" class="form-control input-md pull-left" ng-change="search()" ng-model="newQuery.search" ng-required="true" ng-model-options='{ debounce: 1000 }'>
            </div>
        </div>
    </form>
    <div class="row event-row">
        <div class="col-md-4" ng-repeat="event in eventList">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{event.name}}</h3>
                </div>
                <div>
                    <img src="/assets/images/logos/logo-md.png" class="img-responsive" width="100%">
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h6 class="list-group-item-text">Start Time</h6>
                        <h4 class="list-group-item-heading">{{event.startTime | date:'MM-dd-yyyy HH:mm a'}}</h4>
                    </div>
                    <div class="list-group-item">
                        <h6 class="list-group-item-text">End Time</h6>
                        <h4 class="list-group-item-heading">{{event.endTime | date:'MM-dd-yyyy HH:mm a'}}</h4>
                    </div>
                    <div class="list-group-item">
                        <h6 class="list-group-item-text">Location</h6>
                        <h4 class="list-group-item-heading">{{event.location}}</h4>
                    </div>
                </div>
                <div class="panel-footer" style="height:55px">
                    <a class="btn btn-primary pull-right" ng-click="showDescription($index)"><i class="glyphicon glyphicon-plus" style="padding-right: 5px"></i>Join Event</a>
                </div>
            </div>
        </div>
    </div>
</div>
<master-footer></master-footer>