<!DOCTYPE html>
<!--The Who we are page that link to more specific information about HOW  -->
<div class="hero">
    <img id="heroimg" src="/assets/images/whoweare/whoweare-splash.png" alt="Whoweare Hero">
    <img id="heroquote" src="/assets/images/whoweare/quote.png" alt="Whoweare Quote">
    <div id="herodesc">
        <img id="desctextbg" src="/assets/images/whoweare/roundedrect.png" alt="Whoweware Textbg">
        <h3 class="desctext">Heroes on the Water helps our Nation’s warriors and veterans from all branches of the United States military unwind using the therapeutic qualities of fishing from kayaks. What looks like a day trip of paddling and fishing is in fact something much deeper and long-lasting.</h3>
    </div>
    <div id="herologo">
        <img id="how-logomark" src="/assets/images/logos/logo-md.png" alt="Whoweare Logostamp">
    </div>
</div>
<!-- end hero -->
<div class="whoweare-body">
    <hr />
    <div id="whoweare-text">
        <p>Founded in 2007, our unique kayak fishing program allows the participants a</p>
        <h6> chance to decompress from the stresses</h6>
        <p> associated with combat and the physical rigors of rehabilitation. Warriors enjoy these benefits while on guided fishing trips held in local communities around the country.</p>
        <br>
        <br>
        <p>Participants receive basic kayak fishing and paddling instruction, angling clinics and paddling classes for participants with skill sets ranging from beginners to the most experienced paddlers. The program also assists these personnel in adapting these newly developed skills to their new abilities. Adaptive kayaks, kayaking accessories and angling equipment is offered on an as needed basis to accommodate a soldier’s particular needs.</p>
        <br>
        <br>
        <p>Our program is unique in that it is a</p>
        <h6> long-term activity</h6>
        <p>, not a one-time event. We believe that the effectiveness of the program is a direct result of engaging the wounded military personnel for the long-term.</p>
        <br>
        <br>
        <p>One soldier, at the Center for the Intrepid, called what we do </p>
        <h6>“Triple Therapy” or “all at once therapy.”</h6>
        <p> On post he has to go to the gym for physical therapy, then go upstairs for his occupational therapy, and then go to the psychologist for mental therapy.</p>
        <h6> With kayak fishing he gets it all at once</h6>
        <p> – physical therapy from paddling and fishing, occupational therapy learning a lifetime sport/activity, and mental therapy from relaxing in nature with no distractions or expectations of performance.</p>
    </div>
    <div id="whoweare-video">
        <iframe id="youtubevid" src="https://www.youtube.com/embed/RcZuQXn4KSY?list=FLRn_wcQOQE9FbdIDdjab5lQ&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<!-- end whoweare-body -->
<div class="jumpbar who">
    <div class="column col1">
        <h4>PARTNERS</h4>
        <p>Learn about the organizations we collaborate with and how you can help too.</p>
        <a href="http://heroesonthewater.org/who-we-are/partnerships/">
            <button id="learnmore" style="margin-top:15px">
                <h2>LEARN MORE</h2>
            </button>
        </a>
    </div>
    <div class="column col2">
        <h4>THERAPEUTIC PROGRAMS</h4>
        <p>Programs provide alternative therapy to individuals diagnosed with PTSD and/or traumatic brain injury.</p>
        <a href="http://heroesonthewater.org/who-we-are/programs/therapeutic-programs/">
            <button id="learnmore" style="margin-top:15px">
                <h2>LEARN MORE</h2>
            </button>
        </a>
    </div>
    <div class="column col3">
        <h4>THE BOARD</h4>
        <p>Meet the people who dedicate themselves everyday to making a soldier's day.</p>
        <a href="http://heroesonthewater.org/who-we-are/board/">
            <button id="learnmore" style="margin-top:15px">
                <h2>LEARN MORE</h2>
            </button>
        </a>
    </div>
</div>
<!-- end jumpbar -->
<div class="blogbanner">
    <img id="bannerbg" src="/assets/images/whoweare/blog-bg.png" alt="Whoweare Blogbg">
    <div class="blogdescoverlay">
        <div id="blogdesc">
            <h4>Check out stories and updates from our team, partners and supporters</h4>
            <a href="http://heroesonthewater.org/blog/">
                <button id="gotoblog" style="margin-top:15px">
                    <h2>READ THE BLOG</h2>
                </button>
            </a>
        </div>
    </div>
</div>
<!-- end blogbanner -->
<master-footer></master-footer>